---
permalink: /
layout: page
transparent_navi: true
---

{% assign news = site.news %}

<div class="page-research">
    <div class="page-research-block-banner">
        <div class="banner-background">
            <div class="content-wrapper">
                <div class="banner-info-container">
                    <p class="title">We use state-of-the-art OMICS technologies to understand the human microbiome</p>
                    <p class="text">which will ultimately lead to better prevention and treatment of human diseases.The field is naturally interdisciplinary.</p>
                    <a href="mailto:{{ site.email }}" class="banner-button" title="EMAIL: {{ site.email }}">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-research-side-panel"> 
        <div class="side-panel">
            {% for n in news %}
            <a href="{{n.link}}" class="news-link"><div class="news">
                <img src="/assets/img/{{n.image_path}}" class="news_img">
                <div class="news_text_container">
                    <p class="text">{{n.text}}</p>
                </div>
            </div></a>
            {% endfor %}
            <div class="contact_panel">
                <a href="mailto:{{ site.email }}"><div class="icon"></div></a>
                <p class="title">Contact Us</p>
                <p class="text">For postdoc positions, please send your CV to DR. Jia. Talented students are welcomed from Fudan University and potentially other places</p>
            </div>
        </div>
    </div>
    <div class="content-wrapper">

        <div class="page-research-block-intro">
            <div class="section">
                <img src='/assets/img/research_intro_figure_1.jpg' class="figure">
                <div class="info">
                    <p class="title">Who are there and where do they come from?</p>
                    <p class="text">There are tens of thousand trillions of microbial cells in a adult human, and hundreds of microbial species in each sample. From densely populated sites such as the colon, mouth and vagina, to low-biomass samples, there are much to discover about the microbial residents, focusing on metagenomics and culturomics.</p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="section">
                <img src='/assets/img/research_intro_figure_2.jpg' class="figure">
                <div class="info">
                    <p class="title">What make them grow or perish?</p>
                    <p class="text">Besides diet, medication and other chemicals we expose our microbiome to, the microbes graze on mucin or even glycans on antibodies and cells, fix carbon dioxide or ingeniously make use of other resources. It is as yet more challenging to understand how the different human commensal microbes work together in an ecosystem.</p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="section">
                <div class="info">
                    <p class="title">From “Guilt-by-association” to causality</p>
                    <p class="text">Metagenome-wide association studies (MWAS) has been more controversial than GWAS due to dynamics in the microbiome with environmental factors. (Chapter 6 of Jia. ISBN: 9780323913690 (link: "https://www.elsevier.com/books/investigating-human-diseases-with-the-microbiome/jia/978-0-323-91369-0">https://www.elsevier.com/books/investigating-human-diseases-with-the-microbiome/jia/978-0-323-91369-0) and Chapter 9 of an upcoming new book on causality.) We do identify genetic associations with microbes at all the major body sites. Microbial biomarkers for diseases are detected decades before clinical symptoms. For the good bugs that are lacking in some people, we’ll devote quite a few years to make them available as an effective treatment that doctors can use.</p>
                </div>
            </div>
        </div>
        <div class="gallery_outter_container">
            <div class="page-research-block-gallery">
                {% for figure in site.data.research_page_figure_index %}
                <div class="section">
                    <div class="figure_container">
                        <img src="{{figure.source}}" title="{{figure.caption}}" class="figure">    
                    </div>
                    <p class="title">{{figure.title}}</p>
                </div>  
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    // optional script for additional functionalities

    window.addEventListener('DOMContentLoaded', () => {
        
        const gallery = document.querySelector('.page-research-block-gallery');

        // create html DOM elements for JSGallery
        const JSGallery = document.createElement("div");
        JSGallery.classList.add("page-research-block-gallery-js");
        
        const JSGallery_title_container = document.createElement("div");
        const JSGallery_figure_container = document.createElement("div");
        JSGallery_title_container.classList.add("gallery-title-container");
        JSGallery_figure_container.classList.add("figure_container");
        
        const JSGallery_left = document.createElement("div");
        const JSGallery_right = document.createElement("div");
        const JSGallery_middle = document.createElement("div");
        JSGallery_left.classList.add("gallery-container");
        JSGallery_right.classList.add("gallery-container");
        JSGallery_middle.classList.add("gallery-container");
        JSGallery_left.classList.add("g-left");
        JSGallery_right.classList.add("g-right");
        JSGallery_middle.classList.add("g-middle");

        const JSGallery_fade_left = document.createElement('div');
        const JSGallery_fade_right = document.createElement('div');
        JSGallery_fade_left.classList.add("gallery-fade");
        JSGallery_fade_right.classList.add("gallery-fade");
        JSGallery_fade_left.classList.add("f-left");
        JSGallery_fade_right.classList.add("f-right");

        const JSGallery_button_left = document.createElement('button');
        const JSGallery_button_right = document.createElement('button');
        JSGallery_button_left.classList.add("gallery-button");
        JSGallery_button_right.classList.add("gallery-button");
        JSGallery_button_left.classList.add("b-left");
        JSGallery_button_right.classList.add("b-right");

        // construct DOM
        JSGallery_figure_container.appendChild(JSGallery_left);
        JSGallery_figure_container.appendChild(JSGallery_middle);
        JSGallery_figure_container.appendChild(JSGallery_right);

        JSGallery.appendChild(JSGallery_figure_container);
        JSGallery.appendChild(JSGallery_title_container);
        JSGallery.appendChild(JSGallery_button_left);
        JSGallery.appendChild(JSGallery_button_right);
        JSGallery.appendChild(JSGallery_fade_left);
        JSGallery.appendChild(JSGallery_fade_right);

        // replace old gallery
        gallery.parentElement.insertBefore(JSGallery, gallery);
        gallery.parentElement.removeChild(gallery);

        // figure list, get all figures from old gallery
        const figure_list = Array.from(gallery.querySelectorAll(".section")).map((sect) => {
            return {
                "figure_element":       sect.querySelector("img"),
                "title_element":        sect.querySelector("p")
            };
        });
        const figure_store_unused = document.createElement("div");
        const clear_figures = () => {
            figure_list.forEach((el)=>{
                    figure_store_unused.appendChild(el.figure_element);
                    figure_store_unused.appendChild(el.title_element);
            });            
        }
        clear_figures();
 

        // state
        // NOTE: will not consider the case where total number of figure is less than 3
        // future feature?
        window.addEventListener('load', () => {
            let figure_index = 0;

            const center_figures = () => {

                const gallery_width_margin = (JSGallery_figure_container.offsetWidth - (JSGallery_left.offsetWidth + JSGallery_middle.offsetWidth + JSGallery_right.offsetWidth)) / 6;

                const gallery_left_width_outter= JSGallery_left.offsetWidth + gallery_width_margin * 2;
                const gallery_middle_width_outter= JSGallery_middle.offsetWidth + gallery_width_margin * 2;
                const gallery_right_width_outter= JSGallery_right.offsetWidth + gallery_width_margin * 2;


                const gallery_offset =  (JSGallery.offsetWidth / 2) - (gallery_left_width_outter + (gallery_middle_width_outter / 2));
                JSGallery_figure_container.style.left = Math.round(gallery_offset).toString() + "px";
            }

            const update_figures = () => {
                clear_figures();
                JSGallery_left.appendChild(figure_list[((figure_index-1)+figure_list.length)%figure_list.length].figure_element);
                JSGallery_middle.appendChild(figure_list[figure_index].figure_element);
                JSGallery_right.appendChild(figure_list[(figure_index+1)%figure_list.length].figure_element);  
                center_figures(); 

                JSGallery_title_container.append(figure_list[figure_index].title_element);
            }

            window.addEventListener('resize', center_figures);

            JSGallery_button_left.onclick = () => {
                figure_index = ((figure_index - 1)+figure_list.length) % figure_list.length;
                update_figures();
            };
            JSGallery_button_right.onclick = () => {
                figure_index = (figure_index + 1)%figure_list.length;
                update_figures();
            }

            // modal
            const JSGallery_outter_container = document.querySelector(".gallery_outter_container");
            const JSGallery_close_button = document.createElement("button");
            JSGallery_close_button.classList.add("gallery-close-button");

            JSGallery.appendChild(JSGallery_close_button);

            

            const open_modal = () => {
                JSGallery_outter_container.classList.add("modal");
                center_figures();
                JSGallery_middle.onclick = () => {};
            }

            const close_modal = () => {
                JSGallery_outter_container.classList.remove("modal");
                center_figures();
            }


            JSGallery_middle.onclick = open_modal;

            JSGallery_close_button.onclick = () => {
                close_modal();
                JSGallery_middle.onclick = open_modal;
            }
            
            update_figures();
        });


    });

</script>