
{% assign is_transparent = include.is_transparent %}
<header class="site-header">
    <div class="content-wrapper">
        <div class="site-header-body">
            <div class="site-header-logo">
                <a class="link" href="/">
                    <p class="text">Jia Lab</p>
                </a>
            </div>
            <button class="site-header-nav-icon css-controlled">
                <!-- <img src="/assets/svg/nav-button-icon.svg" class="icon"> -->
            </button>
            <nav class="site-header-nav css-controlled">
                {% include nav.html %}
                <button class="site-header-nav-close-icon"></button>
        </div>
    </div>
</header>
<div class="site-header-placefiller"></div>

{% if is_transparent %}
<script>
    // only if browser supports script
    
    // before page is rendered, remove filler and set nav bar to transparent
    window.addEventListener('DOMContentLoaded', () => {
        const site_header = document.querySelector('.site-header');
        const site_header_placefiller = document.querySelector('.site-header-placefiller');
        site_header.classList.add("transparent");
    });

    // solid when scrolling down, transparent when close to top and scrolling up
    let scroll_position = 0;
    window.addEventListener('scroll', () => {
        const site_header = document.querySelector('.site-header');
        if (scroll_position > this.scrollY) {
            // up
            if (this.scrollY <= 40) {
                site_header.classList.remove("solid");
            }
        } else {
            // down
            if (this.scrollY >= 100) {
                site_header.classList.add("solid");
            }
        }
        scroll_position = this.scrollY;
    });
</script>
{% endif %}

<script>
    // optional script for when JS is enabled to improve user experience

    // use javascript to replace css navigation control
    // replace how close button is handled
    const addJSNavgationControll = () => {
        window.addEventListener('DOMContentLoaded', () => {
            const close_button = document.querySelector(".site-header-nav-close-icon");
            const nav_button = document.querySelector(".site-header-nav-icon");
            const site_header_nav = document.querySelector(".site-header-nav");

            // remove css conytroll
            site_header_nav.classList.remove('css-controlled');
            nav_button.classList.remove('css-controlled');

            // add JS onclick handlers
            nav_button.addEventListener('click', () => {
                site_header_nav.style.display = "flex";
                setTimeout(() => {
                    site_header_nav.classList.add("open");
                    close_button.classList.add("show");
                }, 100);
            });

            close_button.addEventListener('click', () => {
                const p = site_header_nav.parentElement;
                site_header_nav.classList.remove("open");
                close_button.classList.remove("show");
                setTimeout(() => {
                    site_header_nav.style.display = "none";
                }, 100);
            });
        });
    }
    
    // inject sub navigation bar to mobile page
    const addSubNavigationBar = () => {
        window.addEventListener('DOMContentLoaded', () => {
            const sub_nav_bar = document.querySelector('.site-navigation').cloneNode(true);
            const content_wrapper = document.createElement('div');
            const sub_nav_bar_container = document.createElement('div');
            const site_header_placefiller = document.querySelector('.site-header-placefiller');
            
            content_wrapper.classList.add("content-wrapper");
            sub_nav_bar_container.classList.add("sub-nav-bar-container");
            sub_nav_bar.classList.remove("site-navigation");
            sub_nav_bar.classList.add("site-sub-navigation");

            sub_nav_bar_container.appendChild(sub_nav_bar);
            content_wrapper.appendChild(sub_nav_bar_container);
            
            site_header_placefiller.parentElement.insertBefore(content_wrapper, site_header_placefiller.nextSibling);
        });
    }

    addJSNavgationControll();
    addSubNavigationBar();

</script>


