
{% assign is_transparent = include.is_transparent %}
<header class="site-header">
    <div class="content-wrapper">
        <div class="site-header-body">
            <div class="site-header-logo">
                <p class="text">Jia Lab</p>
            </div>
            <div class="site-header-nav">
                {% include nav.html %}
            </div>
        </div>
    </div>
</header>
<div class="site-header-placefiller"></div>

{% if is_transparent %}
<script>
    // only if browser supports script
    let scroll_position = 0;
    let on_mobile = true;
    
    window.addEventListener('DOMContentLoaded', () => {
        const site_header = document.querySelector('.site-header');
        const site_header_placefiller = document.querySelector('.site-header-placefiller');
        if (!check_mobile()) {
            on_mobile = false;
            site_header_placefiller.style.display = "none";
            site_header.classList.add("transparent");   
        }
    });

    window.addEventListener('scroll', () => {
        const site_header = document.querySelector('.site-header');
        if (!on_mobile) {
            if (scroll_position > this.scrollY) {
                // up
                if (this.scrollY <= 40) {
                    site_header.classList.add("transparent");
                }
            } else {
                // down
                if (this.scrollY >= 100) {
                    site_header.classList.remove("transparent");
                }
            }
        }
        scroll_position = this.scrollY;
    });

    window.addEventListener('resize', () => {
        const site_header = document.querySelector('.site-header');
        const site_header_placefiller = document.querySelector('.site-header-placefiller');
        if (check_mobile() !== on_mobile) {
            if (check_mobile()) {
                on_mobile = true;
                site_header_placefiller.style.display = "";
                site_header.classList.remove("transparent");
            } else {
                on_mobile = false;
                site_header_placefiller.style.display = "none";
                site_header.classList.add("transparent");
            }            
        }
    });
    
</script>
{% endif %}


