
{% assign is_transparent = include.is_transparent %}
<header class="site-header">
    <div class="content-wrapper">
        <div class="site-header-body">
            <div class="site-header-logo">
                <a class="link" href="/">
                    <p class="text">Jia Lab</p>
                </a>
            </div>
            <a class="site-header-nav-icon">
                <img src="/assets/svg/nav-button-icon.svg" class="icon">
            </a>
            <nav class="site-header-nav">
                {% include nav.html %}
            </nav>
        </div>
    </div>
</header>
<div class="site-header-placefiller"></div>

{% if is_transparent %}
<script>
    // only if browser supports script
    
    // before page is rendered, remove filler and set nav bar to transparent
    window.addEventListener('DOMContentLoaded', () => {
        const site_header = document.querySelector('.site-header');
        const site_header_placefiller = document.querySelector('.site-header-placefiller');
        site_header.classList.add("transparent");
    });

    // solid when scrolling down, transparent when close to top and scrolling up
    let scroll_position = 0;
    window.addEventListener('scroll', () => {
        const site_header = document.querySelector('.site-header');
        if (scroll_position > this.scrollY) {
            // up
            if (this.scrollY <= 40) {
                site_header.classList.remove("solid");
            }
        } else {
            // down
            if (this.scrollY >= 100) {
                site_header.classList.add("solid");
            }
        }
        scroll_position = this.scrollY;
    });
    
</script>
{% endif %}


