// contains all the resets, variables, mixins, and utility classes

html {
    font-size: $base-font-size;
    font-family: $font-poppins;
    font-weight: $base-font-weight;
    width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}