/* Montserrat */

/* thin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    src: url(../fonts/Montserrat/Montserrat-ThinItalic.ttf) format("truetype");
}

/* extra light */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 200;
    src: url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf) format("truetype");
}

/* light */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf) format("truetype");
}

/* regular */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Italic.ttf) format("truetype");
}

/* medium*/
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf) format("truetype");
}

/* semibold */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf) format("truetype");
}

/* bold */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf) format("truetype");
}

/* extra bold */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/Montserrat/Montserrat-ExtraLightBold.ttf) format("truetype");
}

/* black */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Montserrat/Montserrat-Back.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf) format("truetype");
}