// header.html and nav.html

// defaults
$header-background-color:   #000000 !default;
$header-text-color:         #ffffff !default;
$logo-text-size:              28px !default;
$logo-text-weight:            500;
$header-height:               64px !default;
$header-gap:                  30px;

$nav-item-size:               16px !default;
$nav-item-sel-border-size:    2px !default;
$font-family:                 $font-montserrat;

// mobile
$nav-modal-background-color:  #F2F2F2;
$nav-modal-item-color:        #000000;
$nav-modal-item-size:         24px;

// header.html stylings
.site-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: $layer-second-z-index;
  top: 0;
  width: 100%;
  font-family: $font-family;
  height: $header-height;
  background-color: $header-background-color;
  color: $header-text-color;
  transition: background-color 0.8s;

  .site-header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $header-gap;
  }

  .site-header-logo {
    margin: 0;
    .link {
      text-decoration: none;
      color: $header-text-color;
    }
    .text {
      font-size: $logo-text-size;
      font-weight: $logo-text-weight;
      text-align: center;
      line-height: $logo-text-size;
      white-space: nowrap;
      margin: 0;      
    }
  }
}

// transparent styling
.site-header.transparent {
  background-color: transparent;
}

.site-header.transparent.solid {
  background-color: $header-background-color;;
}

// styling for placefiller, same height same color, 
// used to occupy space for the navigation bar
.site-header-placefiller {
  height: $header-height;
  background-color: $header-background-color;
  transition: height 0.8s;
}

.site-header.transparent + .site-header-placefiller {
  height: 0;
}

// nav.html stylings

.site-navigation {
  display: flex;
  font-size: $nav-item-size;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;

  .site-navigation-item {
    text-decoration: none;
    text-transform: uppercase;
    color: $header-text-color;
  }

  .site-navigation-item.selected {
    border-bottom: solid;
    border-width: $nav-item-sel-border-size;
  }
}

.sub-nav-bar-container{
  display: none;
}

.site-header-nav-icon {
  display: none;
  height: 28px;
  width: 28px;
  padding: 0;
  background-image: url("../svg/nav-button-icon.svg");
  background-size: cover;
  position: fixed;
  top: calc(#{$header-height/2});
  right: 25px;
  transform: translate(0%, -50%);
  background-color: transparent;
  border: none;
}

.site-header-nav-close-icon {
  display: none;
  height: 28px;
  width: 28px;
  padding: 0;
  background-image: url("../svg/close_button_icon.svg");
  background-size: cover;
  position: fixed;
  top: calc(#{$header-height/2});
  right: 25px;
  transform: translate(0%, -50%);
  z-index: $layer-top-z-index;
  background-color: transparent;
  border: none;
}

// mobile
@include media-query($on-palm) {
  // disable transparent effect
  .site-header.transparent,
  .site-header {
    background-color: $header-background-color;

    
    .site-header-nav-icon + .site-header-nav {
      display: none;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: $layer-first-z-index;
      background-color: transparent;
      
      width: 100%;
      height: 100%;
      transition: background-color 0.3s;

      .site-navigation {
        width: fit-content;
        flex-direction: column;
        gap: 50px;
        margin: auto;
        .site-navigation-item {
          font-size: $nav-modal-item-size;
          color: transparent;
          text-align: center;
          z-index: $layer-first-z-index;
          transition: color 0.5s;
        }
        .site-navigation-item.selected {
          border: none;
          &::before,
          &::after{
            content: " · ";
          }
        }
      }
      
      &.open {
        display: flex;
      }
      
      &.css-controlled:hover,
      &.open-transition {
        display: flex;
        background-color: $nav-modal-background-color;
        .site-navigation .site-navigation-item {
          color: $nav-modal-item-color;
        }
        // & + .site-header-nav-close-icon {
        //   display: block;
        // }    
      }
  

    }
    .site-header-nav-close-icon.show {
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
    
    .site-header-nav-icon {
      display: block;
      z-index: $layer-second-z-index;
      &:hover {
        cursor: pointer;
      }
      &.css-controlled:active {
        & + .site-header-nav {
          display: flex;
        }    
      }
    }
  }

  .sub-nav-bar-container {
    display: block;
    overflow-x: scroll;
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
      
    &::-webkit-scrollbar {
      display: none;
    }  
  }

  .site-sub-navigation {
    display: flex;
    justify-content: space-between;
    font-size: $nav-item-size;
    width: calc((100% / 3) * 4);
    // margin-top: 18px;
    // margin-bottom: 13px;

  
    .site-navigation-item {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      color: #000000;
      padding-top: 18px;
      padding-bottom: 14px;
      // padding-left: 6px;
      // padding-right: 6px;
      height: 18px;
      width: calc(100% / 3);
      text-align: center;
    }

    .site-navigation-item.selected {
      border-bottom: solid;
      border-width: 4px;
    }
  }


  .site-header + .site-header-placefiller,
  .site-header.transparent + .site-header-placefiller {
    height: $header-height;
  }
}
