// layout styling

.content-wrapper {
    width: $content-width-ratio;
    max-width: $max-content-width;
    min-width: calc(#{$min-content-width} - 50px);
    margin: auto;
    overflow: hidden;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-footer-wrapper {
    margin-top: auto;
}

// mobile
@include media-query($on-palm) {
    .content-wrapper {
        width: calc(100% - 50px);
        max-width: unset;
        min-width: unset;
        margin: auto;
    }
}

