// includes stylings of elements on
//      index.html
//      publication.html
//      team.html
//      resource.html

// defaults
// research banner
$banner-size-height:                            600px !default;
$banner-info-gap:                               20px !default;
$banner-info-title-size:                        36px !default; 
$banner-info-color:                             #ffffff !default; 
$banner-info-title-weight:                      700 !default;
$banner-font:                                   $font-poppins;

$banner-button-color:                           #55D7B8 !default;
$banner-button-height:                          52px !default;
$banner-button-width:                           210px !default;
$banner-button-radius:                          27px !default;
$banner-button-margin-top:                      80px !default;
$banner-button-text-size:                       20px !default;
$banner-button-text-font:                       $font-montserrat;
$banner-button-text-color:                      #000000;

// research info
$research-info-gap:                             35px !default;
$research-info-separator-color:                 #B6B6B6;
$research-info-separator-width:                 1px;

$research-info-text-title-size:                 28px;
$research-info-text-title-weight:               500;
$research-info-text-size:                       $base-font-size;

$research-info-figure-height:                   180px;
$research-info-figure-width:                    240px;
$research-info-figure-margin-right:             30px;

// team page
$team-profile-pic-size-faculty:                 236px;
$team-profile-pic-size-team:                    130px;

$team-block-gap:                                60px;

$team-page-separator-width:                     1px;
$team-page-separator-color:                     #B6B6B6;

$team-faculty-info-title-size:                  33px;
$team-faculty-info-title-weight:                700;
$team-faculty-info-figure-margin-right:         50px;

$team-group-label-size:                         33px;
$team-group-label-weight:                       700;
$team-group-profile-gap:                        60px;
$team-group-profile-gap-row:                    50px;
$team-group-section-width:                      calc(#{$team-profile-pic-size-team} + 5px);

// resource page
$resource-page-title-size:                      33px;
$resource-page-title-weight:                    700;

$resource-page-text-size:                       $base-font-size;

$resource-page-block-gap:                       60px;

// publication page
$publication-page-title-size:                   33px;
$publication-page-title-weight:                 700;

$publication-page-text-size:                    16px;

$publication-page-block-gap:                    60px;

$publication-page-navigation-background:        #E7E7E7;
$publication-page-navigation-item-color:        #000000;
$publication-page-navigation-item-color-hover:  #55D7B8;
$publication-page-navigation-item-size:         20px;

// banner on research page/index.html
.page-research-block-banner {
    position: relative;
    height: $banner-size-height;
    overflow: hidden;
}

.page-research-block-banner .banner-background {
    width: 100%;
    height: $banner-size-height;
    background-image: url("../img/background_1.jpg");
    background-size: cover;
    display: flex;
}

.page-research-block-banner .content-wrapper {
    position: relative;
    // width: $content-width-ratio;
    // max-width: $max-content-width;
    // min-width: $min-content-width;
    top: 5%;    
}

.page-research-block-banner .banner-info-container {
    display: flex;
    flex-direction: column;
    gap: $banner-info-gap;
    font-family: $banner-font;
}

.page-research-block-banner .banner-info-container .title {
    font-size: $banner-info-title-size;
    font-weight: $banner-info-title-weight;
    color: $banner-info-color;
    margin: 0;
}

.page-research-block-banner .banner-info-container .text {
    color: $banner-info-color;
    margin: 0;
}

.page-research-block-banner .banner-button {
    width: $banner-button-width;
    height: $banner-button-height;
    border-radius: $banner-button-radius;
    background-color: $banner-button-color;
    margin-top: $banner-button-margin-top;
    border: none;
    color: $banner-button-text-color;
    font-size: $banner-button-text-size;
    font-family: $banner-button-text-font;
    text-transform: uppercase;
}

// research page intro
.page-research-block-intro {
    margin-top: $research-info-gap;
    margin-bottom: $research-info-gap;
}

.page-research-block-intro .section {
    display: flex;
    flex-direction: row;
    gap: $research-info-figure-margin-right;
}

.page-research-block-intro .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $research-info-gap;
}

.page-research-block-intro .section .info .title {
    font-size: $research-info-text-title-size;
    font-weight: $research-info-text-title-weight;
    margin: 0;
}

.page-research-block-intro .section .info .text {
    font-size: $research-info-text-size;
    margin: 0;
}

.page-research-block-intro .section .figure {
    max-width: $research-info-figure-width;
    max-height: $research-info-figure-height;
    object-fit: contain;
}

.page-research-block-intro .separator {
    margin-top: $research-info-gap;
    margin-bottom: $research-info-gap;
    border-bottom: solid;
    border-width: $research-info-separator-width;
    border-color: $research-info-separator-color;
}

// team page

.page-team {
    margin-top: $team-block-gap;
    margin-bottom: $team-block-gap;
}

.page-team .profile_photo {
    border-radius: 100%;
    object-fit: cover;
}

.page-team .separator {
    border-bottom: solid;
    border-width: $team-page-separator-width;
    border-color: $team-page-separator-color;
    margin-top: $team-block-gap;
    margin-bottom: $team-block-gap;
    width: calc(100% - #{$team-faculty-info-figure-margin-right} - #{$team-profile-pic-size-faculty});
    margin-right: 0;
    margin-left: auto;
}

.page-team .page-team-faculty .section {
    display: flex;
    flex-direction: row;
    gap: $team-faculty-info-figure-margin-right;
}

.page-team .page-team-faculty .section {
    display: flex;
    flex-direction: row;
    gap: $team-faculty-info-figure-margin-right;
}

.page-team .page-team-faculty .section .title {
    font-size: $team-faculty-info-title-size;
    font-weight: $team-faculty-info-title-weight;
    margin: 0;
}

.page-team .page-team-faculty .section .text {
    margin: 0;
}

.page-team .page-team-faculty .profile_photo {
    margin: auto;
    width: $team-profile-pic-size-faculty;
    height: $team-profile-pic-size-faculty;
}

// dr and student sections

.page-team .page-team-dr .profile_photo,
.page-team .page-team-student .profile_photo {
    width: $team-profile-pic-size-team;
    height: $team-profile-pic-size-team;
}

.page-team .page-team-dr,
.page-team .page-team-student {
    display: flex;
    flex-direction: row;
}

.page-team .page-team-dr .group,
.page-team .page-team-student .group {
    width: calc(#{$team-faculty-info-figure-margin-right} + #{$team-profile-pic-size-faculty});
    font-size: $team-group-label-size;
    font-weight: $team-group-label-weight;
}

.page-team .page-team-dr .block,
.page-team .page-team-student .block{
    width: calc(100% - #{$team-faculty-info-figure-margin-right} - #{$team-profile-pic-size-faculty});
    display: flex;
    flex-direction: row;
    column-gap: $team-group-profile-gap;
    row-gap: $team-group-profile-gap-row;
    flex-wrap: wrap;
}

.page-team .page-team-dr .section,
.page-team .page-team-student .section{
    width: $team-group-section-width;
}

.page-team .page-team-dr .text,
.page-team .page-team-student .text{
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

// resource page

.page-resource .content-body{
    display: flex;
    flex-direction: column;
    margin-top: $resource-page-block-gap;
    margin-bottom: $resource-page-block-gap;

    .page-resource-block-intro {
        .title {
            font-size: $resource-page-title-size;
            font-weight: $resource-page-title-weight;
            text-transform: uppercase;
            margin: 0;
        }

        .text {
            font-size: $resource-page-text-size;
        }
    }

    .page-resource-block-body {
        .title {
            font-size: $resource-page-title-size;
            font-weight: $resource-page-title-weight;
        }

        .text {
            font-size: $resource-page-text-size;
        }
    }
}

// publication page

.page-publication {
    margin-top: 0;
    margin-bottom: $publication-page-block-gap;

    .page-publication-block-navigation {
        background-color: $publication-page-navigation-background;
        padding-top: $publication-page-block-gap;
        padding-bottom: $publication-page-block-gap;
        .title {
            margin: 0;
            font-size: $publication-page-title-size;
            font-weight: $publication-page-title-weight;
            text-transform: uppercase;
        }
        .catalogues_container {
            padding-top: $publication-page-title-size;
            .catalogue {
                text-decoration: none;
                color: $publication-page-navigation-item-color; 
                font-size: $publication-page-navigation-item-size;
            }

            .catalogue:hover {
                color: $publication-page-navigation-item-color-hover; 
            }

            .catalogue:before {
                content: "/";
                color: $publication-page-navigation-item-color;
            }
        }
    }

    .page-publication-block-body {
        .title {
            font-size: $publication-page-title-size;
            font-weight: $publication-page-title-weight;
        }

        .text {
            font-size: $publication-page-text-size;
        }
    }
}

$gallery_figure_height: 385px;
$gallery_section_padding: 30px;
$gallery_figure_title_height:   100px;
$gallery_figure_title-size: 16px;


// research page slideshow
.page-research-block-gallery {
    height: calc(#{$gallery_figure_height} + #{$gallery_figure_title_height} + (#{$gallery_section_padding} * 4));
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .section {
        .figure_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .figure {
                width: calc($min-content-width - #{$gallery_section_padding} * 2);
                height: $gallery_figure_height;
                box-shadow: 0 5px 34px rgba($color: #000000, $alpha: 0.2);
                object-fit: contain;
                margin: $gallery_section_padding;
            }


        }
        .title {
            height: $gallery_figure_title_height;
            font-size: $gallery_figure_title-size;
            text-align: center;
        }   
    }
}

// mobile
@include media-query($on-palm) {
    .page-research-block-banner .banner-background {
        background-image: url("../img/background_3.jpg");
    }
}