---
---

@charset "utf-8";

// defaults
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size:      20px !default;

$max-content-width:   1366px !default;
$min-content-width:   800px !default;
$content-width-ratio: 75% !default;

// device detection
$on-palm:           600px !default;
$on-laptop:         800px !default;

$on-medium:         $on-palm !default;
$on-large:          $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Imports
@import
  "base",
  "layout",
  "header",
  "footer"
;