---
---

@charset "utf-8";

// defaults
$font-poppins:                    'Poppins', Arial, sans-serif !default;
$font-montserrat:                 'Montserrat', Arial, sans-serif !default;
$font-roboto:                     'Roboto', Arial, sans-serif !default;
$base-font-size:                  16px !default;
$base-font-weight:                400 !default;

$base-font-family:                $font-roboto !default;

$max-content-width:               1024px !default;
$min-content-width:               {{ site.on_mobile }} !default;
$content-width-ratio:             60% !default;

$max-content-width-mobile:        {{ site.on_mobile }} !default;

$layer-top-z-index:                 1000;
$layer-first-z-index:               999;
$layer-second-z-index:              998;
$layer-third-z-index:               997;

// device detection
$on-palm:                         {{ site.on_mobile }} !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Imports
@import
  "fonts_montserrat",
  "fonts_poppins",
  "fonts_roboto",
  "base",
  "layout",
  "header",
  "footer",
  "pages"
;