---
permalink: /publication.html
layout: page
transparent_navi: false
---

{% assign catalogues = site.publications | sort: 'index' %}

<div class="page-publication">
    <div class="page-publication-block-navigation">
        <div class="content-wrapper">
            <p class="title">Catalogue</p>
            <div class="catalogues_container">
                {% for cata in catalogues %}
                    <a class="catalogue" href="#{{cata.query_id}}">{{ cata.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="page-publication-block-body">
            {% for cata in catalogues %}
            <div class="section" id="{{cata.query_id}}">
                <a href="#{{cata.query_id}}" class="title">{{cata.title}}:</a>
                <div class="text">{{cata.content}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>