---
permalink: /team
layout: page
transparent_navi: false
---

{% assign mem_faculty = site.staff | where: 'position', 'Faculty' %}
{% assign mem_student = site.staff | where: 'position', 'Student' %}
{% assign mem_dr = site.staff | where: 'position', 'Dr' %}


<div class="page-team">
    <div class="content-wrapper">
        <div class="page-team-faculty">
            {% for mem in mem_faculty %}
            <div class="section">
                {% if mem.profile_photo_path != "" %}
                <img src='/assets/photos/{{mem.profile_photo_path}}' class="profile_photo">
                {% else %}
                <img src='/assets/photos/default.png' class="profile_photo">
                {{default.png}}
                {% endif %}
                <div class="info">
                    <p class="title">{% if mem.title %}{{mem.title}}{% endif %} {{mem.name}}</p>
                    <p class="text">{{mem.content}}</p>
                    
                </div>
            </div>
            {% endfor %}
            <div class="separator"></div>
        </div>
        
        <div class="page-team-dr">
            <p class="group">Dr.</p>
            <div class="block">
                {% for mem in mem_dr %}
                <div class="section">
                    <div class="photo_container">
                        {% if mem.profile_photo_path != "" %}
                        <img src='/assets/photos/{{mem.profile_photo_path}}' class="profile_photo">
                        {% else %}
                        <img src='/assets/photos/default.png' class="profile_photo">
                        {{default.png}}
                        {% endif %}
                    </div>
                    <p class="text">{{mem.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="separator"></div>
        <div class="page-team-student">
            <p class="group">Student</p>
            <div class="block">
                {% for mem in mem_student %}
                <div class="section">
                    <div class="photo_container">
                        {% if mem.profile_photo_path != "" %}
                        <img src='/assets/photos/{{mem.profile_photo_path}}' class="profile_photo">
                        {% else %}
                        <img src='/assets/photos/default.png' class="profile_photo">
                        {{default.png}}
                        {% endif %}
                    </div>
                    <p class="text">{{mem.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>